---
---
@import "{{ site.theme }}";
highlight: rouge;
.highlight .c { color: #998; font-style: italic } /* Comment */
.highlight .err { color: #a61717 } /* Error */
.highlight .k { color: #000; font-weight: bold } /* Keyword */
.highlight .l { color: #a61717 } /* Literal */
.highlight .n { color: #000 } /* Name */
.highlight .o { color: #000; font-weight: bold } /* Operator */
.highlight .p { color: #000 } /* Punctuation */
.highlight .cm { color: #998; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #999; font-weight: bold } /* Comment.Preproc */
.highlight .c1 { color: #998; font-style: italic } /* Comment.Single */
.highlight .gd { color: #000; background-color: #fdd } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #a00 } /* Generic.Error */
.highlight .gh { color: #999 } /* Generic.Heading */
.highlight .gi { color: #000; background-color: #dfd } /* Generic.Inserted */
.highlight .go { color: #888 } /* Generic.Output */
.highlight .gp { color: #000; font-weight: bold } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #aaa } /* Generic.Subheading */
.highlight .gt { color: #a00 } /* Generic.Traceback */
.highlight .kc { color: #000; font-weight: bold } /* Keyword.Constant */
.highlight .kd { color: #000; font-weight: bold } /* Keyword.Declaration */
.highlight .kn { color: #000; font-weight: bold } /* Keyword.Namespace */
.highlight .kp { color: #000; font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { color: #000; font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #458; font-weight: bold } /* Keyword.Type */
.highlight .m { color: #458 } /* Literal.Number */
.highlight .s { color: #d73a49 } /* Literal.String */
.highlight .na { color: #0086b3 } /* Name.Attribute */
.highlight .nb { color: #0086b3 } /* Name.Builtin */
.highlight .nc { color: #458; font-weight: bold } /* Name.Class */
.highlight .no { color: #008080 } /* Name.Constant */
.highlight .ni { color: #800 } /* Name.Entity */
.highlight .ne { color: #900; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #900; font-weight: bold } /* Name.Function */
.highlight .nn { color: #555 } /* Name.Namespace */
.highlight .nt { color: #000080 } /* Name.Tag */
.highlight .nv { color: #008080 } /* Name.Variable */
.highlight .ow { color: #000; font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbb } /* Text.Whitespace */
.highlight { background: #f8f8f8; border: 1px solid #ccc; padding: 10px; border-radius: 5px; }
